@import url('https://fonts.googleapis.com/css2?family=Varela&family=Varela+Round&display=swap');

:root {
  --wave-one-color: rgba(249, 243, 230, 0.456);
  --wave-two-color: rgba(237, 229, 210, 0.5);
  --wave-three-color: rgba(244, 231, 197, 0.7);
  --wave-four-color: rgba(255, 252, 245, 1);

  --hero-background-color: rgb(253, 253, 253);

  --header-background-color: rgb(210, 210, 210);
  --works-background-color: rgb(255, 248, 231);
  --contact-background-color: pink;
  --white: #ffffff;
}

html,
body {
  
  margin: 0;

  font-family: 'Varela Round', sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  background-image: linear-gradient(var(--hero-background-color) 50%, var(--contact-background-color) 50%);
}


header {
  overflow:hidden;  
  font-size: 1.9em;
  z-index: 1;
  height: 80px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 0px 30px 0px 30px;
  align-items: center;

  background-color: var(--header-background-color);
}

header img {
  width:45px;
}

header>ul {
  gap: 40px;
}

ul {
  padding: 0px;
  margin: 0px;
  align-self: center;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  list-style: none;
}

li {

  list-style: none;
}

a {

  color: black;
  text-decoration: none;
}

.container {
  display: grid;
  /*                  |he   |wav  |work |proj |wav  |con  |co-l  */
  grid-template-rows: 550px 200px 100px 1fr 330px 25px 705px 80px;

}

.hero {
  font-family: 'Varela', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;

  gap: 10px;
  background-color: transparent;

}

.hero-text {
  font-size: 3em;
  font-weight: bold;
  /* background-color: rgba(236, 47, 47, 0.617); */
}

.hero-subtext {
  padding:0px 5px 0px 5px;
  font-size: 2em;
  /* color: hsl(88, 54%, 70%); */
  /* background-color: rgb(207, 255, 231); */
}

.wave-container {
  background-color: transparent;
  align-self: end;

}

#wave-container-two {
  align-self: start;
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  grid-area: 5 /1 / 6 /2;
}

.wave-container-two-background {
  grid-area: 5 /1 / 6 /2;
  background-color: var(--contact-background-color)
}

.waves {

  position: relative;
  min-height: 100px;
  max-height: 200px;
  width: 100%;

  margin-bottom: -7px;
  /*Fix for safari gap*/
}

#wave-one {
  fill: var(--wave-one-color);
}

#wave-two {
  fill: var(--wave-two-color);
}

#wave-three {
  fill: var(--wave-three-color);
}

#wave-four {
  fill: var(--works-background-color);
}

.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.works,
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Varela', sans-serif;
  font-size: 2em;
  font-weight: bold;
  background-color: var(--works-background-color);
}


.projects {
  background-color: var(--works-background-color);
  padding-top:20px;
  padding-bottom:20px;
}

.cards {
  list-style-type: none;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.card {
  
  justify-content: center;
  box-sizing: border-box;
  justify-self: center;
  height: 400px;
  width: 70%;
  max-width: 850px;
  min-width: 605px;


  background-color: rgb(235, 235, 235);

  display: grid;
  grid-template-columns: .75fr 3fr 3fr;
  grid-template-rows: .75fr .75fr 3fr 1fr;
  padding: 20px;
  
  column-gap: 20px;
  background: rgba(255, 255, 255, 0.78);
  border-radius: 16px;
  
  transform: translateY(-3px) scale(1.005) translateZ(0);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  border: 1px solid rgba(255, 255, 255, 0.47);
  transition: all 0.3s ease-out;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

}

.card:hover {
  transform: none;
  
  box-shadow: 0 24px 36px rgba(0,0,0,0.11),0 24px 46px var(--box-shadow-color);

    
}

.card-icon {
  grid-area: 1 /1 / 3 / 2;
  min-width:30px;
  max-width:80px;
  width:100%;

}

.card-body {
  grid-area: 3/ 1/ 4/4;
  font-size: 1.3em;
}

.card-title {
  font-weight: bold;
  font-size: 2em;
  align-self:end;
}

.card-description {

  font-size: 1.6em;
  align-self:start;
  grid-area: 2/ 2/3 / 3
}

.links {
  grid-area: 4/ 1/ 5/3;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  align-items: center;
  grid-area: 1/ 3 /3/4;
  gap: 5px;
}

.card-link {
  
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: center;
  white-space: nowrap;
  
}

.card-icon {
  max-width: 80px;
  align-self: center;
  justify-self: center;
}


.link-icon {
  max-height: 75px;
}

.link-text {
  font-size: 1.3em;
  text-decoration: underline

}

.contact {
  background-color: var(--contact-background-color);
}

.contact-links {
  padding: 0px;
  list-style-type: circle;
  height: 100%;
  background-color: var(--contact-background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 10%;
}

.contact-link {
  font-size: 2em;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: start;
  white-space:nowrap;
  text-decoration:underline;

}

.contact-link > img {
  max-height: 105px;
  transition: all 0.4s ease-in;
  filter: brightness(0%);
}


.contact-link > img:hover{
  transition: all 0.4s ease-out;
  filter: brightness(95%);
}

.footer {
  background-color: rgb(170, 67, 84);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  color:white;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}



.nav-sub {
  overflow:hidden;
  position: fixed;
  transform: translateX(100%);
  transition: transform .9s;
  z-index: 1;
  background: rgba(0, 0, 0, 0.767);
  height:550px;
  color: white;
  list-style: none;

  display:flex;
  
  flex-direction: column;
  align-items: flex-start;
  justify-content:space-between;
  gap:20px;

  padding:0px 20px 20px 20px;
  border-bottom-left-radius: 15px;

}

.spacer {
  height:68%;
}

.nav-sub a {
  color:white;
  font-size:2em;

  width:100%;
  white-space: nowrap;

}

.nav-change{  
  transform: translateX(0%);
  transition: transform 0.3s;

}  

.dropdown {
  display:none;
  justify-content:flex-end;
  font-size:1em;
 
}

.dropdown img {
  
  height:25px;
}

button {
  margin:25px;
  padding:10px;
  
  border-radius:10px;
  position:fixed;
  z-index: 3;
}

@media screen and (max-height:550px) and (orientation: landscape){
  header {
    display:none;
  }

}

@media screen and (max-width:700px) {

  .container {
    /*                  |he   |wav  |work |proj |wav  |con  |co-l  */
    grid-template-rows: 330px 50px 100px 1fr 90px 100px 605px 50px;
  
  }
  .contact-link {
    justify-content: center;
    
  }

  .contact-links {
    padding-bottom:50px;
  }


  .links {
    display:none;
  }
  
  header {
    display:none;
  }
  .hero-text {
    
    font-size:2em;
    width:auto;
    height: auto;
  }

  .hero-subtext{
    font-size:1.5em;
    
    
  }

  * {
    overflow-x:hidden;
  }
  .card {
    min-width:300px;
    grid-template-rows: .75fr .1fr 3fr 1fr;
   
  }
  
  .card-icon {

    padding:0px 20px 10px 10px;
    grid-area: 1/ 1/ 2/2;
    max-width:60px;

  }
  .card-title {
    text-align:center;
    grid-area: 1/ 1/ 2/4;
    font-size:1.5em;
  }
  .card-description {
    text-align:center;
    grid-area: 2/ 1/ 3/4;
    font-size: 1.1em;
  }
  .card-body {
    font-size:1em;
    grid-area: 3/ 1/ 5/4;
  }
  .contact-link {
    justify-content: start;
    font-size:1.3em;
    gap:10px;
  }

  .contact-link img {
    width:40px;
  }

  .footer {

    font-size:1em;
  }
  .waves {
    height:60px;
    min-height:60px;
    
  }
  .wave-container {
    overflow-y: hidden
  }

  .dropdown {
    display:flex;
    

    z-index:2;
  }

}



@media screen and (max-width:360px) {
  .contact-link {
    font-size: 1em;
    flex-direction: column;
  }
}

@media (hover: none) {
  .contact-link > img:hover{
    filter: brightness(0%);
  }
}
