@import url('https://fonts.googleapis.com/css2?family=Varela&family=Varela+Round&display=swap');

:root {
  --wave-one-color: rgba(249, 243, 230, 0.456);
  --wave-two-color: rgba(237, 229, 210, 0.5);
  --wave-three-color: rgba(244, 231, 197, 0.7);
  --wave-four-color: rgba(255, 252, 245, 1);

  --hero-background-color: rgb(253, 253, 253);

  --header-background-color: rgb(210, 210, 210);
  --works-background-color: rgb(252, 246, 233);
  --contact-background-color: pink;
  --white: #ffffff;
}

html,
body {
  margin: 0;

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  font-family: 'Varela Round', sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

body::-webkit-scrollbar {
  display: none;
}


header {
  z-index: 1;
  height: 60px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--header-background-color);
}

ul {
  align-self: center;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  list-style: none;
}

a {

  color: black;
  text-decoration: none;
}

.container {
  display: grid;
  /*                  |he   |wav  |work |proj |wav  |con  |co-l  */
  grid-template-rows: 550px 200px 100px 980px 330px 100px 570px 80px;

}

.hero {
  font-family: 'Varela', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  gap: 10px;
  background-color: transparent;

}

.hero-text {
  font-size: 3em;
  font-weight: bold;
  /* background-color: rgba(236, 47, 47, 0.617); */
}

.hero-subtext {
  font-size: 2em;
  /* background-color: rgb(207, 255, 231); */
}

.wave-container {
  background-color: transparent;
  align-self: end;
  
}

#wave-container-two {
  align-self:start;
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  grid-area: 5 /1 / 6 /2;
}

.wave-container-two-background {
  grid-area: 5 /1 / 6 /2;
  background-color: var(--contact-background-color)
}

.waves {

  position: relative;
  min-height: 100px;
  max-height: 200px;
  width: 100%;

  margin-bottom: -7px;
  /*Fix for safari gap*/
}

#wave-one {
  fill: var(--wave-one-color);
}

#wave-two {
  fill: var(--wave-two-color);
}

#wave-three {
  fill: var(--wave-three-color);
}

#wave-four {
  fill: var(--works-background-color);
}

.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.works , .contact {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Varela', sans-serif;
  font-size: 2em;
  font-weight: bold;
  background-color: var(--works-background-color);
}


.projects {
  background-color: var(--works-background-color);
}

.cards {
  list-style-type: none;
  padding:10px;
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items: center;
  gap:25px;
}

.card {

  justify-content: center;
  box-sizing: border-box;
  justify-self: center;
  height:400px;
  max-width: 900px;
  min-width: 605px;
  

  background-color: rgb(235, 235, 235);


  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 3fr 2fr;
  padding: 20px;
  border-radius: 5px;
}

.card-icon {
  grid-area: 1 /1 / 3 / 2
}

.card-body {
  grid-area: 3/ 1/ 4/3;
  font-size:1.3em;
}

.card-title {
  font-size:2em;
}

.card-description {
  font-size:1.6em;
}

.links {
  grid-area: 4/ 1/ 5/3;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.card-link {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  white-space: nowrap;
}

.link-icon {
  max-height: 75px;
}

.contact {
  background-color: var(--contact-background-color);
}

.contact-links {
  padding:0px;
  list-style-type: circle;
  height:100%;
  background-color: var(--contact-background-color);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-self:center;
  gap:10%;
  

}
.contact-link {
  font-size:2em;

  display:flex;
  align-items:center;
  gap:10px;
  justify-content:flex-start

}
.contact-link > img {
  max-height:75px;
}

.footer {
  background-color: rgb(170, 67, 84);
  

}